<div class="row">
  
  <div class="col-md-12">
    <form id="newTrait">
      <div class="input-group">
        <input type="text" ng-model="newTrait.name" class="form-control" placeholder="Type your {{list.name.toLowerCase()}} here">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" ng-click="createTrait()">Add</button>
          <button class="btn btn-success">Show proposals</button>
        </span>
      </div>
    </form>
  </div>
  
  <div class="col-md-12">
    <br />
  </div>
  
  <div class="col-md-12">
    <ul ui-sortable="sortableOptions" ng-model="list.sourceList" class="list-group origin">
      <li class="list-group-item" ng-class="{ 'sortable-used': alternative.criticalPoints.includes(attribute) }" ng-repeat="attribute in list.sourceList">
        <div class="row">
          <div class="col-md-8">
            <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:#cbcbcb;" ng-click="destroyTrait(attribute)"></span>
            <span>&nbsp;&nbsp;</span>
            <span>{{attribute.name}}</span>
          </div>
          <div class="col-md-4">
            <evaluation-scale scale="3" evaluable="attribute"></evaluation-scale>
          </div>
        </div>
      </li>
    </ul>
  </div>  
</div>