<div class="row">
  
  <br />
  
  <alternative-dashboard-navtabs>
    <alternative-dashboard-tab title="Home">
      <alternative-dashboard-home alternative="alternative"></alternative-dashboard-home>
    </alternative-dashboard-tab>
    <alternative-dashboard-tab title="Critical points">
      <alternative-dashboard-criticalpoints alternative="alternative"></alternative-dashboard-criticalpoints>  
    </alternative-dashboard-tab>
    <alternative-dashboard-tab title="Requirements">
      <alternative-dashboard-requirements alternative="alternative"></alternative-dashboard-requirements>
    </alternative-dashboard-tab>
  </alternative-dashboard-tabgroup>
</div>