<div class="row">
  
  <br />
  
  <alternative-dashboard-tabgroup>
    <tab-pill title="Home">
      <alternative-dashboard-home alternative="alternative"></alternative-dashboard-home>
    </tab-pill>
    <tab-pill title="Critical points">
      <alternative-dashboard-criticalpoints alternative="alternative"></alternative-dashboard-criticalpoints>  
    </tab-pill>
    <tab-pill title="Requirements">
      <alternative-dashboard-requirements alternative="alternative"></alternative-dashboard-requirements>
    </tab-pill>
  </alternative-dashboard-tabgroup>
  
  <div class="col-md-12">
    <br />
  </div>
</div>