<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <div class="panel-title pull-left">
        Define and evaluate your alternatives
      </div>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li ng-repeat="alternative in alternatives" class="list-group-item">
          <a ng-click="destroyAlternative(alternative, $index)">x</a>
          {{alternative.name}}
        </li>
      </ul>
      
      <hr>
      
      <form ng-submit="addAlternative()">
        <div class="input-group">
          <input type="text" ng-model="name" class="form-control" placeholder="Type your alternative here">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Add</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>