<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <div class="panel-title pull-left">
      Define and evaluate your alternatives
    </div>
  </div>
  <div class="panel-body">
    
    <!--ALTERNATIVE FORM    -->
      <form id="newAlternative">
        <div class="input-group">
          <input type="text" ng-model="newAlternative.name" class="form-control" placeholder="Type your alternative here">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" ng-click="createAlternative()">Add</button>
            <button class="btn btn-success" type="submit" ng-click="setActiveProposal('alternatives')">Show proposals</button>
          </span>
        </div>
      </form>
    <!--END OF FORM-->
    
    <hr>    
    
    <alternatives-navtabs ng-model="activeAlternative"></alternatives-navtabs>
    
    <alternative-dashboard ng-show="activeAlternative" alternative="activeAlternative"></alternative-dashboard>
    
  </div>
</div>